<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>失敗頁面</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <main class="page">
      <div class="card">
        <header class="card__header">
          <p class="card__header-text">失敗頁面</p>
        </header>

        <section class="result-page">
          <p class="result-page__message">{{ msg }}</p>
        </section>
      </div>
    </main>
  </body>
</html>
